#imageComponent {
  /* background-color: #0d234c; */
  background: rgb(31,55,89);
  background: radial-gradient(circle, rgba(31,55,89,1) 11%, rgba(13,35,76,1) 100%);  
  padding-top: 120px;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 100px 100px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex:33.3%; /* IE10 */
  flex:33.3%;
  max-width: 33.3%;
  padding: 0px 15px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.imageStyling {
  width: 100%;
  margin-bottom: 30px;
}

.imageStyling:hover {
  transform: scale(1.05);
  transition: 0.4s;
}


/* Modal below ---------------------------------------------------------- */

#modalImagesComponent {
  /* background-color: #0d234c; */
  background: rgb(31,55,89);
  background: radial-gradient(circle, rgba(31,55,89,1) 11%, rgba(13,35,76,1) 100%);  
  padding: 200px;
}

.imgStyling {
  width:100%;
  max-width: 400px
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 120px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed (turned off)*/
  background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.9);  Black w/ opacity */
  padding: 100px;
  z-index: 6;
}

/* Modal Content (image) */
.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modalContent, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 35px;
  right: 80px;
  color: #f1f1f1;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Modal above ---------------------------------------------------------- */


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modalContent {
    width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}