.background {
  width: 100%;
  margin: 0 auto;
}


/* .productHeaderContainer {
  width: 157px;
  float: left;
  padding: 5px;
  border-right: 2px solid #0068ff;
  margin: 100px 0 0 100px;
  margin-left: 100px;
  padding: 60px;
}


.productHeaderContainer {
  display: contents;
} */


@media only screen and (min-width: 400px) {
  .background {
    width: 55%;
  }
}


@media only screen and (min-width: 500px) {

  #productListComponent {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .background {
    width: 60%;
  }
}


@media only screen and (min-width: 600px) {
  
  #productListComponent {
    padding-top: 150px;
    padding-bottom: 1550px;
  }

}


@media only screen and (min-width: 680px) {
  .background {
    width: 80%;
  }

}


@media only screen and (min-width: 1200px) {
  .background {
    width: 70%;
  }
}


@media only screen and (min-width: 1300px) {
  
  #productListComponent {
    padding-top: 150px;
    padding-bottom: 675px;
  }

  .background {
    width: 70%;
  }
}


@media only screen and (min-width: 1800px) {
  .background {
    width: 80%;
  }
}





















