.aboutComponent {
  background-color: rgba(13, 14, 29, 1);
}

.row {
  padding-bottom: 10px;
  max-width: 1300px;
  margin: 0 auto;
}

.leftColumn {
  float: none;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

 .rightColumn {
  float: none;
  width: 100%;
  margin: 0 auto;
  padding: 10px 30px 30px 30px;
}

.imgStyling {
  width: 100%;
  margin-top: 30px;
  background-color: aliceblue;
  padding: 8px;
  border-radius: 2px;
}

.aboutUsHeader {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  border-bottom: 8px solid #0068ff;
  margin: 0 auto 25px;
  color: #ffaa00;
  font-family: sans-serif;
}

.companyDescription  {
  margin: 10px 0;
  font-size: 14px;
  color: #dcdcdc;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: justify; 
  text-justify: inter-character;
}

.bookNowButton {
  width: 34%;
  margin: 50px 33%;
}



 /* ---------------- All Media Quries Below --------------- */



 @media screen and (min-width:500px) {
 
  .leftColumn {
    width: 70%;
  }

  .rightColumn {
    padding: 30px 70px;
  }

  .imgStyling {
    margin: 70px auto 0px auto;
    padding: 20px;
    transition: 0.4s;
  }
  
  .imgStyling:hover {
    transform: scale(1.2);
  }

  .aboutUsHeader {
    width: 80%;
    font-size: 35px;
    padding: 0 0 30px 0;
    margin: 0 auto 40px;
  }
  
  .companyDescription  {
    margin: 15px 0;
    font-size: 18px;
  }
 
}



@media screen and (min-width:700px) {
  
  .rightColumn {
    padding: 30px 100px 100px;
  }

  .leftColumn {
    padding-top: 60px;
  }

  .aboutUsHeader {
    font-size: 50px;
    padding: 30px;
    margin: 0 auto 40px;
  }
  
  .companyDescription  {
    margin: 10px 20px;
    font-size: 20px;
  }
 
}



@media screen and (min-width:900px) {

  .leftColumn {
    width: 60%;
    padding-top: 50px;
  }

  .rightColumn {
    padding: 50px 140px 100px;
  }

  .companyDescription  {
    margin-bottom: 15px;
  }
}



/* ----------- This is the breakpoint to move into 2 columns ------------ */

@media screen and (min-width:1023px) {

  .row {
    padding-bottom: 10px;
    min-height: 500px;
    padding-top: 40px;
  }

  .leftColumn {
    float: left;
    width: 55%;
    padding: 70px 90px;
    height: auto; 
  }

  .rightColumn {
    float: left;
    width: 45%;
    padding: 20px 90px 100px 0px;
    margin: 0;
  }

  .imgStyling {
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: aliceblue;
  }

  .aboutUsHeader {
    width: 100%;
    font-size: 30px;
    margin: 0 0 15px 0;
    padding: 10px;
  } 
  
  .companyDescription  {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 16px;
  }

}



@media screen and (min-width:1100px) {

  .row {
    height: 865px;
    padding-top: 160px;  

  }

  .left-column {
    padding: 50px 80px;
  }

  .aboutUsHeader {
     font-size:40px;
  }
  
  .companyDescription  {
    font-size: 18px;
  }

} 


@media screen and (min-width: 1300px) {
 
  .aboutUsHeader {
    font-size:40px;
    margin-bottom: 30px;
    padding: 20px;
 }
 
 .companyDescription  {
   font-size: 20px;
 }
 
} 





