#wishListComponent {
  background-color: #0d234c;
  padding: 10px;
}

.wishListContainer {
  width: 60%;
  height: 400px;
  margin: 125px auto;
  background: #f6961b;
  padding: 50px;
}

.wishListHeader {
   font-family: sans-serif;
   margin-bottom: 50px;
}

