
/* Nav Bar */
.navComponent {
  background-color: rgba(0,0,0,.6);
  height: 100px;
}


.navbarContainer {
  display: none;
}


.ulTag {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.ulTag2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.anchorTag {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  display: block;
  padding: 1.5em 3em;
  background-color: #ffaa00;
  color: #000;
}


.listElements {
  float: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff9e6;
  border: 3px solid #1874df;
  list-style-type: none;
  padding: 10px;
  margin: 50px -2px;
  letter-spacing: 1px;
}


.homeLink {
  float: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #1874df;
  list-style-type: none;
  color: #ffb120;
  font-weight: bold;
  padding: 10px;
  margin: 50px -2px 25px 50px;
}

.contactContainer {
  display: none;
}

.contactInfo {
  color: #7ddfff;
  font-size: 16px;
  margin: 10px 0px 0px 20px;
}


#hamburgerIcon {
  width: 35px;
  cursor: pointer;  
  float: right;
  margin-top: 35px;
  margin-right: 0px;
  position: relative;
  top: 50;
  right: 50px;
}


/* To activate sidebar */
/* .active in Nav.jsx */

@media screen and (min-width: 400px) {
  /* .contactContainer {
    display: contents;
    float: left;
    color: white;
  } */
}


/* ------------ Media Queries for responsive design below ----------------- */

@media only screen and (min-width: 800px) {
  .navComponent {
    height: 150px;
  }
  .navBody {
    display: unset;
  }
  #hamburgerIcon {
    display: none;
  }
  .navbarContainer {
    display: unset;
  }

  /* .contactContainer {
    float: right;
    color: white;
    margin: 10px 35px;
  } */

}
