.titleArea {
  width: 100%;
  background-color: rgba(170, 174, 245, 0.3);
  padding: 50px 20px;;
}

.mainTitle {
  text-align: center;
  color: #ffaa00;
  font-size: 35px;
}     

.azTitle {
  font-size: 40px;
  color: #0068ff;
}

.commentMain {
  text-align: left;
  font-size: 10px;
  color: gainsboro;
  margin: 20px 20% 10px 20%;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
  border-left: 5px solid #4286bb;
  padding-left: 7px;
}

.commentSignature {
  font-size: 10px;
  font-style: italic;
  color: gainsboro;
  margin: 0 0 0 45%;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}



@media only screen and (min-width: 460px) {

  .titleArea {
    padding: 70px 30px;
  }
  
  .mainTitle {
    font-size: 40px;
  }     
  
  .azTitle {
    font-size: 50px;
  }

  .commentMain {
    margin-left: 25%;
    font-size: 12px;
  }
  
  .commentSignature {
    font-size: 12px;
    margin-left: 55%;
  }
}


@media only screen and (min-width: 640px) {
  .titleArea {
    padding: 150px 30px;
  }
  
  .mainTitle {
    font-size: 55px;
  }     
  
  .azTitle {
    font-size: 65px;
  }

  .commentMain {
    margin-left: 27%;
    margin-top: 30px;
    width: 300px;
  }
  
  .commentSignature {
    font-size: 12px;
    margin-left: 50%;
  }
}


@media only screen and (min-width: 900px) {
  .titleArea {
    padding: 175px 30px;
  }
  
  .mainTitle {
    font-size: 75px;
  }     
  
  .azTitle {
    font-size: 100px;
  }

  .commentMain {
    width: 300px;
    font-size: 16px;
    margin: 50px 35% 20px 37%;
  }
  
  .commentSignature {
    font-size: 16px;
    margin-left: ;
  }
}


/* 
Note: Sizing the container at width can help you avoid responsive styling for 
all higherresolutions. Note that title area below has a set width now, and 
that each of the last selecters remains the same from here on out. 
*/

@media only screen and (min-width: 1400px) {

  .titleArea {
    width: 1400px;
    margin: 0 auto;
    height: 650px; 
  }

}
