

.listElements {
  float: left;
  font-size: 20px;
  color: #fff9e6;
  border: 3px solid #f1a533;
  list-style-type: none;
  padding: 10px;
  margin: 25px -2px;
}

.homeLink {
  float: left;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid #f1a533;
  list-style-type: none;
  color: #942f2f;
  font-weight: bold;
  padding: 10px;
  margin: 25px -2px 25px 50px;
}


/* Nav Bar */
.navComponent {
  background-color: white;
  position: fixed;
  width: 100%;
  margin: 0px;
  top: 0px;
  left: 0px;
}

.navbarContainer {
  display: none;
}

.nav {
  font-family: Arial, Helvetica, sans-serif;
}


/* This tag is styled in the componet with JSX */
/* .active {
  position: absolute;
  display: block;
  background: #fab759;
  width: 40%;
  left: 0;
  top: 0;
  height: 100%;
} */

.ulTag {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.ulTag2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.anchorTag {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8em;
  display: block;
  padding: 1.5em 3em;
  background-color: rgb(238, 156, 41);
  color: #000;
}


/* The aside */


.hamburgerIcon {
  width: 40px;
  cursor: pointer;    /*puts a hand on the item you are mousing over*/
  float: right;
  margin-top: 35px;
  margin-right: 0px;
  position: fixed;
  top: 50;
  right: 50px;
}




@media only screen and (min-width: 800px) {

  .navBody {
    display: unset;
  }
  .hamburgerIcon {
    display: none;
  }
  .navbarContainer {
    display: unset;
  }

}
