
.tester {
  color: green;
}

.navBody {
  color: purple;
}

@media only screen and (max-width: 1500px) {
  .tester {
    color: yellow;
  }
}

@media only screen and (max-width: 1100px) {
  .navBody {
    display: none;
  }
  
  .tester {
    color: blue;
  }

}

@media only screen and (max-width: 900px) {
  .tester {
    color: red;
  }
}

@media only screen and (max-width: 700px) {
  .tester {
    color: purple;
  }
}

@media only screen and (max-width: 700px) {
 


}





